<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.5/phpunit.xsd"
         bootstrap="Test/bootstrap.php"
         cacheResultFile=".phpunit.result.cache"
         executionOrder="depends,defects"
         beStrictAboutOutputDuringTests="true"
         beStrictAboutTodoAnnotatedTests="true"
         convertDeprecationsToExceptions="true"
         failOnRisky="true"
         failOnWarning="true"
         verbose="true">
    <testsuites>
        <testsuite name="Unit Tests">
            <directory suffix="Test.php">Test/Unit</directory>
        </testsuite>
        <testsuite name="Integration Tests">
            <directory suffix="Test.php">Test/Integration</directory>
        </testsuite>
    </testsuites>

    <coverage processUncoveredFiles="true">
        <include>
            <directory suffix=".php">Block</directory>
            <directory suffix=".php">Controller</directory>
            <directory suffix=".php">Cron</directory>
            <directory suffix=".php">Model</directory>
        </include>
        <exclude>
            <file>registration.php</file>
        </exclude>
    </coverage>

    <php>
        <ini name="memory_limit" value="-1"/>
        <ini name="date.timezone" value="UTC"/>
        <ini name="xdebug.mode" value="coverage"/>
    </php>
</phpunit>